################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PackageInstallerExercise.Test/obj/Debug
/tests/obj/Debug
